html
html
   head
      title Form Tester
   body
      form(action = "/register", method = "POST")
         div
            label(for = "username") Username:
            input(name = "username" value = "" type='text')
         br
         div
           label(for = "password") Password:
           input(name = "password" value = "" type='password')
         br
         div
           label(for = "fname") First name:
           input(name = "fname" value = "" type='text')
         br
         div
           label(for = "lname") Last name:
           input(name = "lname" value = "" type='text')
         br
         div
           label(for = "city") City:
           input(name = "city" value = "" type='text')
         br
         div
           label(for = "country") Country:
           input(name = "country" value = "" type='text')
         br
         div
           label(for = "address") Address:
           input(name = "address" value = "" type='text')
         br
         div
           label(for = "postcode") Post code:
           input(name = "postcode" value = "" type='text')
         br
         div
           label(for = "tel") Telephone Number:
           input(name = "tel" value = "" type='text')
         br
         button(type = "submit") Send my greetings
